<section class="hero">
    <div class="hero__container container">
        <img class="hue-saturation" src="../../../assets/img/hue-saturation.png">
        <img class="mafia-costume-1" src="../../../assets/img/mafia-costume-1.png">
        <img class="mafia-costume-2" src="../../../assets/img/mafia-costume-2.png">
        <img class="layer layer--1" src="../../../assets/img/layer-1.png">
        <img class="layer layer--2" src="../../../assets/img/layer-2.png">
        <img class="layer layer--3" src="../../../assets/img/layer-3.png">
        <img class="glow" src="../../../assets/img/glow.png">
        <div class="hero__content">
            <a  class="hero__link" href="/"><img class="logo" src="../../../assets/img/logo.png"></a>
            <img class="boxes" src="../../../assets/img/boxes.png">
            <h1 class="hero__title">коллекционные издания</h1>
            <p class="hero__descr">Побеждайте легко, побеждайте стильно с новыми коллекционными изданиями «Аллодов Онлайн»!</p>
        </div>
        <img class="blue-glow" src="../../../assets/img/blue-glow.png">
    </div>
</section>

<section class="promo">
    <div class="promo__container container">
    <img class="background-wall" src="../../../assets/img/background-wall.png">
        <div class="promo__vito">
            <img class="ellipse" src="../../../assets/img/ellipse.png">
            <img class="vito" src="../../../assets/img/vito.png">
        </div>
        <div class="promo__set set">
            <h2 class="set__title">набор «посылка с контрабандой»</h2>
            <div class="promo__vito vito--media">
                <img class="ellipse" src="../../../assets/img/ellipse.png">
                <img class="vito" src="../../../assets/img/vito.png">
            </div>
            <div class="set__wrap">
                <div class="set__servtype servtype">
                    <p class="servtype__text">Бесплатные сервера</p>
                    <p class="servtype__text">Подписочный сервер</p>
                </div>

                <ul class="set__list list">
                    <li class="list__item item">
                        <div class="item__left">
                            <img class="item__icon" src="../../../assets/img/clock-icon.png">
                            <p class="item__text">Игровое время</p>
                        </div>
                        <div class="item__right">
                            <p class="item__text">-</p>
                            <p class="item__text">30 дней</p>
                        </div>
                    </li>
                    <li class="list__item item">
                        <div class="item__left">
                            <img class="item__icon" src="../../../assets/img/toolbox-icon.png">
                            <p class="item__text">Запечатанный набор инструментов</p>
                        </div>
                        <div class="item__right">
                            <p class="item__text">1</p>
                            <p class="item__text">1</p>
                        </div>
                    </li>
                    <li class="list__item item">
                        <div class="item__left">
                            <img class="item__icon" src="../../../assets/img/rune-icon.png">
                            <p class="item__text">Хрупкая чистая руна 10-й ступени</p>
                        </div>
                        <div class="item__right">
                            <p class="item__text">1</p>
                            <p class="item__text">-</p>
                        </div>
                    </li>
                    <li class="list__item item">
                        <div class="item__left">
                            <img class="item__icon" src="../../../assets/img/sign-icon.png">
                            <p class="item__text">Большой символ изобилия творца</p>
                        </div>
                        <div class="item__right">
                            <p class="item__text">10</p>
                            <p class="item__text">-</p>
                        </div>
                    </li>
                    <li class="list__item item">
                        <div class="item__left">
                            <img class="item__icon" src="../../../assets/img/mana-icon.png">
                            <p class="item__text">Мана-батарея</p>
                        </div>
                        <div class="item__right">
                            <p class="item__text">-</p>
                            <p class="item__text">20</p>
                        </div>
                    </li>
                    <li class="list__item item">
                        <div class="item__left">
                            <img class="item__icon" src="../../../assets/img/modul-icon.png">
                            <p class="item__text">Модуль памяти</p>
                        </div>
                        <div class="item__right">
                            <p class="item__text">-</p>
                            <p class="item__text">10</p>
                        </div>
                    </li>
                    <li class="list__item item">
                        <div class="item__left">
                            <img class="item__icon" src="../../../assets/img/vito-icon.png">
                            <p class="item__text">Помощник Вито</p>
                        </div>
                        <div class="item__right">
                            <p class="item__text">1</p>
                            <p class="item__text">1</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="set__box box">
                <img class="box__img" src="../../../assets/img/box.png">
                <div class="box__wrap">
                    <p class="box__price">399 ₽</p>
                    <button class="btn btn--box">приобрести</button>
                </div>
            </div>
        </div>
        <img class="blue-glow" src="../../../assets/img/blue-glow.png">
    </div>
</section>