.btn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 12px 0;
    border-radius: 7px;
    font-family: var(--f-primary);
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--c-text);
    background-color: #FCFF00;
    transition: var(--transition);

    &:hover {
        opacity: 0.7;
    }

}

@media (max-width: 576px) {
    .btn {
        padding: 10px 0;
        width: 100px;
        font-size: 12px;
    }
}