.container  {
    @media (--media-sm) {
        max-width: 100%;
    }

    @media (--media-md) {
        max-width: 100%;
    }

    @media (--media-lg) {
        max-width: 100%;
    }

    @media (--media-xl) {
    }

    @media (--media-xxl) {
    }
}