.hero {
    position: relative;
    height: 892px;
    overflow: hidden;
    margin-bottom: 60px;

    &__container {
        height: 100%;
        pointer-events: none;
    }

    .hue-saturation {
        position: absolute;
        height: 100%;
    }

    .layer {
        position: absolute;
        height: 100%;
        mix-blend-mode: multiply;

        &--1 {
            top: 0;
            left: 0;
        }

        &--2 {
            top: 0;
            right: 0;
        }

        &--3 {
            right: 0;
            bottom: 0;
            left: 0;
            height: 380px;
        }
    }

    .glow {
        position: absolute;
        right: -80px;
        width: 100%;
        height: 100%;
        mix-blend-mode: screen;
        animation: opacity 4s ease;
    }

    .blue-glow {
        position: absolute;
        bottom: 0;
    }

    .mafia-costume-1 {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .mafia-costume-2 {
        position: absolute;
        right: 20px;
        bottom: 0;
    }

    &__content {
        position: relative;
        right: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .logo {
            position: relative;
            left: 25px;
            pointer-events: none;
            transition: opacity 0.3s linear;
        }

        .boxes {
            position: relative;
            bottom: 80px;
        }
    }

    &__link {
        pointer-events: auto;

        &:hover {
            .logo {
                opacity: 0.8;
            }
        }
    }

    &__title, &__descr {
        position: relative;
        bottom: 105px;
        left: 25px;
    } 

    &__title {
        font-family: "RobotoCondensed-Bold";
        font-size: var(--f-s-h1);
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__descr {
        font-size: 20px;
        line-height: normal;
    }
}

.promo {
    position: relative;
    overflow: hidden;
    height: 1024px;

    .background-wall {
        position: absolute;
        height: 100%;
        pointer-events: none;
    }

    &__vito {
        position: relative;
        width: 50%;
        pointer-events: none;
    }

    .ellipse,
    .vito {
        position: absolute;
        top: 0;
    }

    .ellipse {
        left: 100px;
    }

    .vito {
        right: 160px;
    }

    .set {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;

        &__title {
            font-family: "RobotoCondensed-Bold";
            text-transform: uppercase;
            font-size: var(--f-s-h2);
            color: var(--c-h2);
            margin-bottom: 35px;
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            width: 632px;
        }

        .servtype {
            display: flex;
            align-self: flex-end;
            margin-bottom: 10px;

            &__text {
                padding: 4px;
                text-align: center;
                font-size: 12px;
                font-weight: 600;
                color: #671D00;
                border: var(--border);

                &:not(:last-of-type) {
                    margin-right: 10px;
                }
            }
        }

        .list {
            margin-bottom: 20px;

            .item {
                display: flex;
                align-items: center;
                border: var(--border);
                padding: 5px;

                &:not(:last-of-type) {
                    margin-bottom: 1px;
                }

                &__left, &__right {
                    display: flex;
                    align-items: center;
                }

                &__left {
                    width: 40%;
                }

                &__right {
                    justify-content: flex-end;
                    width: 60%;
                }

                &__icon {
                    width: 64px;
                    height: 64px;
                    margin-right: 20px;
                }

                &__text {
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .item__right {
                .item {
                    &__text {
                        text-align: center;
                        width: 60px;

                        &:not(:last-of-type) {
                            margin-right: 80px;
                        }

                        &:last-of-type {
                            margin-right: 35px;
                        }
                    }
                }
            }
        }

        .box {
            display: flex;

            &__image {
                height: 323px;
            }

            &__wrap {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                right: 120px;
                bottom: 55px;
                z-index: 1000;
            }

            &__price {
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }

    .blue-glow {
        position: absolute;
        bottom: 0;
    }
}
