.header {
    position: relative;
    z-index: 200;
    @media (--media-lg) {
        background-color: transparent;
    }
    &__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .main-menu {
        display: none;
        @media (--media-lg) {
            display: block;
        }
    }
}